<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Package Demo">
            <directory suffix="Test.php">laao/src/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./vendor</directory>
        </whitelist>
    </filter>
</phpunit>